.hero__image-container {
  width: 70%;
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

.bios {
  &.bold {
    p {
      font-size: 22px;
      @media all and (min-width: 768px) {
        font-size: 25px;
      }
    }
  }
  a {
    color: var(--primary-color);
  }
}

.grid-container {
  padding-top: 1em;
  display: grid;
  grid-template-columns: 100%;
  &.two-column {
    @media all and (min-width: 1024px) {
      grid-template-columns: 48% 48%;
      grid-gap: 4%;
    }
  }
  &.three-column {
    @media all and (min-width: 768px) {
      grid-template-columns: 48% 48%;
      grid-gap: 4%;
    }
    @media all and (min-width: 1024px) {
      grid-template-columns: 31% 31% 31%;
      grid-gap: 3.5%;
    }
  }
  p {
    margin-top: 0;
    font-size: 16px;
    @media all and (min-width: 768px) {
      font-size: 19px;
    }
  }
}
