.hero__image-container {
  width: 70%;
  display:block;
  margin: 0 auto;
}

.bios {
  padding-bottom: 3em;
  max-width: 480px;
}

.grid-container {
  padding-top: 1em;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 2em;
}